HELP.md
target/

# Pastas de IDEs que não precisam ir pro Git
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Onde as imagens do sistema de estoque são salvas (evita subirmos fotos pesadas de testes pro GitHub)
uploads/

# Arquivos de log e SO
*.log
.DS_Store